@media (max-width: 1600px) {
  .home-slider-navigation {
    left: 40px;
  }
  .player {
    width: 900px;
  }
}
@media (max-width: 1500px) {
  .hero_area_section {
    padding: 165px 0px;
  }
  .content_box {
    margin-top: 0px;
  }
  .container {
    max-width: 1140px;
  }
  .content_box {
    width: 78%;
  }
  .home-slider-navigation {
    left: 177px;
  }
  .homepage__slider:before {
    top: -12%;
    left: 48%;
  }
  .home-slider-navigation .nav-point {
    width: 330px;
  }
  .section_title {
    margin-bottom: 13px;
  }
  .row.info_detels {
    padding: 23px 42px;
  }
  .img_box_footer img {
    width: 250px;
  }
  .contact_inner_rx {
    width: 472px;
  }
  .our_service .content_inner p {
    font-size: 15px;
}
.content_service {
    height: 390px;
}
.icon_box_service {
    right: 32px;
    bottom: 32px;
}
.icon_box_service img {
    width: 140px;
}
}
@media (max-width: 1400px) {
  .hero_area_section {
    padding: 144px 0px;
  }
  .home-slider-navigation {
    left: 145px;
  }
  nav.navbar.navbar-expand-lg {
    padding: 0.5rem 0;
  }
  .home-slider-navigation {
    left: 136px;
  }
}
@media (max-width: 1300px) {
  .home-slider-navigation {
    left: 93px;
  }
  .container {
    padding: 0;
  }
  .row.info_detels {
    padding: 26px 42px;
  }
  .hero_area_section {
    padding: 118px 0px;
  }
}
@media (max-width: 1024px) {
  .content_box {
    width: 60%;
  }
  .content_box h1 {
    font-size: 35px;
    line-height: 43px;
  }
  .content_box p {
    font-size: 14px;
    line-height: 20px;
  }
  .container {
    max-width: 960px;
  }
  .hero_area_section {
    background-size: cover;
  }
  .swiper-container-home {
    height: 60vh;
  }
  .home-slider-navigation {
    left: 35px;
  }
  .img_box_footer img {
    width: 200px;
  }
  .row.info_detels {
    padding: 27px 42px;
  }
  .data_hero {
    padding: 150px 0;
  }
  .our_service .content_inner h2 {
    font-size: 20px;
  }
  .icon_box_service img {
    width: 140px;
  }
  .contact_inner_rx {
    width: 410px;
    height: 600px;
    top: 150px;
  }

}
@media (max-width: 991px) {
  .content_box {
    width: 88%;
  }
  .content_box h1:before {
    left: 43%;
    width: 380px;
  }
  .our_service .section_title h2 {
    color: #f36623;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
}

@media (max-width: 768px) {
  .content_box h1 {
    font-size: 25px;
    line-height: 27px;
  }
  .content_box h1:before {
    display: none;
  }
  .player {
    width: 100%;
  }
  .container {
    max-width: 720px;
  }
  .content_box {
    width: 78%;
  }
  .section_title p {
    font-size: 18px;
  }
  .home-slider-navigation .nav-point {
    width: 250px;
  }
  .home-slider-navigation .nav-point {
    letter-spacing: 0;
    line-height: 22px;
    font-size: 14px;
  }
  .home-slider-navigation span {
    min-height: 71px;
  }
  .section_title p {
    width: 292px;
  }
  .btn_cont a {
    font-size: 22px;
  }
  .btn_cont h2 {
    font-size: 26px;
    line-height: 80%;
    margin-bottom: 10px;
  }
  .img_box_footer img {
    width: 170px;
  }
  .row.info_detels {
    padding: 13px 42px;
  }
  .navbar-toggle {
    border: none;
    background: transparent !important;
  }
  .navbar-expand-lg .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }

  .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  /* ANIMATED X */
  .navbar-toggle.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
  }

  .navbar-toggle.x .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .navbar-toggle.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
  }

  /* ANIMATED X COLLAPSED */
  .navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .header_section {
    background: #111010;
    border-bottom: 1px solid #f36623;
  }
  .navbar-nav .nav-link {
    line-height: 28px;
  }
  .our_service .section_title h2 {
    font-size: 25px;
    margin-bottom: 26px;
  }
  .our_service.okta .col-lg-4 {
    width: 50%;
    max-width: 50%;
    float: left;
    margin-bottom: 25px;
  }
  .our_service .col-lg-3 {
    width: 50%;
    max-width: 50%;
    float: left;
    margin-bottom: 25px;
  }
  .our_service {
    padding: 50px 0;
  }
  .okta_expertise {
    background-size: cover;
  }
  .contact_inner_rx {
    width: 606px;
    height: 734px;
    top: 63px;
  }
    .get-quote {
    margin-bottom: 20px;
    margin-top: 18px;
}
.hero_area_section {
    background-image: url(../image/Mobile-version.svg);
    padding-bottom: 42px;
}
.contact_form .col-lg-6.align-items-center {
    padding-right: 15px;
}
}
@media (max-width: 767px) {
  .content_box {
    width: 100%;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-brand img {
    width: 110px;
  }
  .swiper-container-home {
    display: none;
  }
  .mb_ver_res {
    display: block;
  }
  .w3-black {
    color: #fff;
    background-color: transparent;
    display: flex;
    z-index: 9;
    position: relative;
  }
.footer_content p {
    width: 100%;
}
  .w3-bar .w3-bar-item {
    padding: 8px 6px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    background: transparent;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    color: rgba(253, 215, 209, 0.32);
  }
  .w3-button:hover {
    color: #fff6f5;
    background-color: transparent;
  }
  .w3-red,
  .w3-hover-red:hover {
    color: #fff;
    background-color: #f44336;
  }
  .w3-bar .w3-button {
    white-space: normal;
  }
  button.w3-bar-item.w3-button.tablink.w3-red {
    color: #fff6f5;
  }
  .mb_ver_res {
    padding: 98px 0px;
  }
  .contact_with .col-md-6 {
    width: 50%;
  }
  .row.info_detels {
    padding: 13px 2px;
  }
  .row.info_detels {
    background-size: contain;
  }
  .btn_cont h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .btn_cont a {
    font-size: 15px;
  }
  .img_box_footer img {
    width: 80px;
  }
  .contact_with.section_padding {
    padding: 4px 0px 52px 0px;
  }
  .our_service.okta .col-lg-4 {
    width: 100%;
    max-width: 100%;
  }
  .our_service .col-lg-3 {
    width: 100%;
    max-width: 100%;
  }
  .okta_expertise {
    border-radius: 36.697px;
    border: 3.39px solid rgba(253, 215, 209, 0.32);
    background: rgb(2, 0, 36);
    background: linear-gradient(
      173deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(129, 51, 13, 0.9640231092436975) 0%,
      rgba(0, 0, 0, 0.8491771708683473) 86%
    );
  }

  .contact_inner_rx {
    width: 360px;
    height: 627px;
    top: 31px;
  }
  .contact_box_right {
    min-height: 760px;
  }
}
@media (max-width: 400px) {
  .content_box h1 {
    font-size: 23px;
    line-height: 27px;
  }
  .contact_with.section_padding {
    padding: 4px 8px 52px 8px;
  }
  .btn_cont a {
    font-size: 13px;
  }
}
